body {
    margin: 0;
}

/*header*/

header {
    display: flex;
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    border-bottom: 1px solid black;
    height: 80px;
    position: fixed;
    z-index: 1;
    align-items: center;
    background-color: white
}
div.logo {
    display: flex;
    color: mediumaquamarine;
    align-items: center;
    flex-grow: 1;
    padding-left: 30px;
}
nav {
    display: flex;
    color: black;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 12px
}
nav span {
    padding-right: 40px;
}
nav span a {
    color: black;
}
.logo img {
    height: 60px;
    width: 70px;
    margin-right: 12px;
}

/* Main */

.main {
    display: flex;
    margin: 0 auto 78px auto;
    width: 1232px;
    padding-top: 116px;
    justify-content: space-between;
}
.large {
    display: flex;
    width: 630px;
    flex-direction: column;
    margin-right: 32px;
}
.medium {
    display: flex;
    width: 300px;
    flex-direction: column;
    margin-right: 32px;
}

/*Small column css*/

.small {
    display: flex;
    width: 240px;
    flex-direction: column;
}
.small .bite {
    background-color: WhiteSmoke;
    font-family: Verdana;
    font-size: 12px;
    color: DimGray;
    margin: 0;
    border-bottom: 1px solid black;
    padding: 11px 20px;
}
.small h3 {
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}
.news-bites {
    display: flex;
    flex-direction: column;
}

/*end*/

.main-story .story-image {
    background-image: url("../media/img-story-main.png");
    display: flex;
    font-family: Georgia;
    font-weight: bold;
    font-size: 40px;
    color: white;
    text-align: left;
}
.story-story {
    font-family: Georgia;
    font-size: 17px;
    color: black;
}
.story-image {
    font-family: Georgia;
    font-weight: bold;
    font-size: 30px;
    color: white;
    height: 300px;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    display: flex;
}
.story1 .story-image {
    background-image: url("../media/img-story-2.png");
}
.story2 .story-image {
    background-image: url("../media/img-story-3.png");
}
.story3 .story-image {
    background-image: url("../media/img-story-1.png");
}
.story-story {
    font-family: Georgia;
    font-size: 17px;
    color: black;
}
.stories {
    display: flex;
    justify-content: space-between;
    margin-top: 17px;
}
.story1,
.story2,
.story3 {
    width: 300px;
    display: flex;
    flex-direction: column;
}
h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: Georgia;
    font-size: 30px;
    font-weight: bold;
    font-style: normal;
}

/*footer css*/

footer {
    background-color: MediumAquamarine;
    margin: auto;
    font-family: Verdana;
    font-size: 12px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 325px;
    justify-content: center;
}
footer .mytimes {
    font-family: Georgia;
    font-size: 16px;
    font-weight: bold;
    color: white;
    border-right: 2px solid white;
    padding: 0 25px;
    margin-right: 20px;
}
footer a {
    color: black;
    padding: 30px 10px;
}
footer .links {
    padding-bottom: 10px;
}
