/*header*/

header {
    display: flex;
    font-family: Verdana;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    border-bottom: 1px solid black;
    height: 80px;
    position: fixed;
    left: 0;
}
div.logo {
    display: flex;
    color: mediumaquamarine;
    align-items: center;
    flex-grow: 1;
    padding-left: 30px;
}
nav {
    display: flex;
    color: black;
    align-items: center;
    flex-wrap: wrap;
    padding-left: 12px
}
nav span {
    padding-right: 40px;
}
nav span a {
    color: black;
}
.logo img {
    height: 60px;
    width: 70px;
    margin-right: 12px;
}
